[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
python-dotenv = "*"

[packages]
aiohttp = "*"
pydantic = "*"
aiohttp-devtools = "*"
aiohttp-session = {extras = ["secure"],version = "*"}
python-jose = {extras = ["cryptography"],version = "*"}
pytest-aiohttp = "*"

[requires]
python_version = "3.8"
